
.to_btm {
    position: absolute;
    bottom: 0;
}

.button-cont {
    padding: 10px;
} 


.col-hgt {
    height: 10rem;
}

@media (min-width: 545px) and (orientation: landscape) {
    .to_btm {
        justify-content: flex-start !important;
    }

}






